.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .form {
  background-color: black;
  color: aliceblue;
  width: 700px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 50px 50px;
 }
 
 .submit-btn {
   margin-top: 30px;
 }

 .offScreen{
   display: none;
 }

 .emailInstructions,
 .passwordInstructions,
 .confirmPasswordInstructions{
   margin-top: 1px;
   border: solid red 2px;
   color: red;
   font-size: small;
 }

.mainPage{
  background-image: url("./data/images/image1.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

 .signIn-label,
 .register-label{
   margin-bottom: 40px;
 }

 .newUser{
   margin: 3px;
 }

 .title{
   margin-top: 10rem;
 }

